.Username-Container, .Password-Container{
    text-align: center;
    padding: 15px;
    font-family: 'Paytone One', sans-serif;
}

.Login-Button-Container{
    text-align: center;
}


.Login-Button-Container button{
    font-family: 'Paytone One', sans-serif;
    margin-bottom: 10px;
    background: white;
    color: #FF6633;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 16px;

}

input{
    width: auto;
}

.LoginForm-Container{
    text-align: center;
    border: 1px solid white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: auto;
    font-size: 18px;
    background: #FF6633;
    color: white;
    margin-right: auto;
    margin-left: auto;
    height: 20%;

}

.Error-Container{
    text-align: center;
}

.Error-Text{
    text-align: Center;
}

