
.Park a{
    text-decoration: none;
}

.Park a:visited, a:link{
    color: white;
}

.Park{
  margin: 0 auto;
  margin-bottom: 10px;
  /* padding: 5px; */
  list-style-type: none;
  border-radius: 10px 10px 5px 5px;
  width: 90%;
  background: #FF6633;
}

.Park p{
    color: #FF6633;
    text-align: center;
    word-break: break-all;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.Results-list{
    padding-left: 0px;
}

.Park-Name-Container {
  font-size: 18px;
  border: 1px solid #FF6633;
  margin: 0 auto;
  padding: 5px 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background: #FF6633;
  /* border: white 1px solid; */
  border-radius: 5px 5px 0 0;
  color: #FF6633;
}


@media only screen and (min-width: 500px) {
    .Park {
      margin: 10px 10px;
      max-width: 50%;
    }
  
    .Results-list {
      display: flex;
      flex-flow: row wrap;
      align-content: space-around;
      justify-content: center;
    }
  }

  @media only screen and (min-width: 600px) {
    .Park {
      width: 40%;
    }
  }

  @media only screen and (min-width: 1000px) {
    .Park {
      max-width: 390px;
    }
  }
