.Go-Back{
    background: #FF6633;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 16px;
    position: fixed;
    margin-top: -30px;
}

.Single-Park{
    text-align: center;
    border: 1px solid black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 15px 50px;
    width: auto;
    font-size: 18px;
    background: #FF6633;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.Single-Park p{
    text-align: center;
    margin: 15px;
}

.Reviews-Container{
    text-align: center;
}

.Reviews-List{
    margin: 15px;
    padding: 0;
}

.Single-Review p{
    text-align: center;
    border: 1px solid #FF6633;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 15px 50px;
    width: auto;
    font-size: 18px;
    background: white;
    color: #FF6633;
    word-wrap: break-word;
    padding: 25px;
}

.Add-A-Review-Label, .Add-A-Comment-Label, .Add-A-Rating-Label {
    text-align: center;
    margin: 15px;
}

.Add-To-Favorites{
    background: #FF6633;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 16px;
}

.Add-A-Review{
    background: white;
    color: #FF6633;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 16px;
}

.Add-A-Review-Button, .Add-To-Favorites-Button{
    text-align: center;
    margin: 15px;
}

.Add-A-Review-Label {
    font-family: 'Chewy', cursive;
    font-size: 24px;
}

.Add-A-Comment-Label, .Add-A-Rating-Label{
    font-family: 'Chewy', cursive;
    font-size: 16px;
    font-weight:  bold;
    margin-top: 20px;
}

.Reviews-Title{
    margin-top: 10px;
}

.textarea-container{
    padding: 15px;
    margin-bottom: -20px;
}

.select-container{
    padding: 15px;
}

.Add-A-Review-Form-Container{
    text-align: center;
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 8px;
    width: auto;
    font-size: 18px;
    background: #FF6633;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.textarea{
    width: 100%;
    height: 70px;
}




